body {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.correct {
    background-color: green !important;
}

.incorrect {
    background-color: red !important;
}
.btn {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 2rem;
    transition: height 0.1s ease-in-out, width 0.1s ease-in-out, transform 0.1s, background-color 0.1s, border-color 0.1s;
    position: relative;
}

.btn:hover {
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}
#start {
    height: 70px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
    background-color: rgb(108, 117, 117);
    color: white;
}

#start:hover {
    background-color: rgb(156, 160, 160);
    cursor: pointer;
}
#start:active{
    background-color: rgb(109, 253, 109);
}
.r {
    background-color: hsl(0, 100%, 70%);
}
.g {
    background-color: hsl(111, 100%, 70%);
}
.y {
    background-color: hsl(52, 100%, 70%);
}
.p {
    background-color: hsl(201, 100%, 70%);
}
.flash {
    background-color: white;
    z-index: 10;
}

.userflash {
    background-color: rgb(79, 200, 79);
}
